<!DOCTYPE html>
<html ng-app="routerApp">
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <%include cdn.ejs%>
  <script src="/js/indexStatesController.js"></script>
</head>
<body style="padding: 0px">
<div ui-view="header"></div>
<div ui-view="content"></div>
<div ui-view="footer"></div>
</body>
</html>
