<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <center>
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->

      <div class="page-logo" style="">
            <a href="index.html">
                <img src="https://ehealth.fbk.eu/sites/ehealth.fbk.eu/themes/fbkunit/logo-en.png" style="margin-left:450px;margin-top:-2px;opacity: 10%" width="150px" height="70px" alt="logo" class="logo-default" /> </a>

        </div>

          <!-- END LOGO -->

        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">



                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" class="img-circle" src="http://keenthemes.com/preview/metronic/theme/assets/layouts/layout/img/avatar3_small.jpg" />
                        <span class="username username-hide-on-mobile"> <b>Login</b> </span>
                        <i class=""> </i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a ui-sref="/loginPage">
                                <i class=""></i> <b>Login as Patient</b> </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a ui-sref="app.loginDoctor">
                                <i class=""></i> <b> Login as Doctor</b> </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a ui-sref="app.signup">
                                <i class=""></i> <b> Register as Patient</b>
                            </a>
                        </li>

                        <li class="divider"> </li>
                        <li>
                            <a ui-sref="app.signupDoctor">
                                <i class=""></i> <b> Register as Doctor</b> </a>
                        </li>

                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
        </div></center>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
