<div style="width: 90%;">
<div>provide dates</div>
    <input type="number" id="start">
    <input type="number" id="end">
    <input type="submit" ng-click="showData()">

    <div style="width: 50%; float: left; padding: 15px;" id="calorieContainer">Placeholder for chart</div>
    <div style="width: 50%; float: right; padding: 15px;" id="heartContainer">Placeholder for chart</div>
</div>
<div id="dynamic_data"></div>